@import 'mixins';

.content{
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;

    .find-product{
        text-align: center;

        input{
            width: 100%;
            padding: 5px 5px 5px 30px;
            border: none;
            border-radius: 10px;
            background-image: url('../img/web/search.png');
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: left;
            background-position-x: 5px;

            &:focus-visible{
                outline: none;
            }
        }

    }

    .main-information{
        position: relative;
        padding-bottom: 70px;

        .main-text{
            width: 250px;
            margin: 30px auto 0 auto;
            text-align: center;
        }

        a{
            width: 150px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -75px;
            text-align: center;
            @include button;
        }

        img{
            width: 250px;
            display: block;
            margin: 30px auto 0px auto;
        }
    }
}

.benefits{
    width: 285px;
    max-width: 1200px;
    margin: 0 auto;

    .benefit{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 0;

        img{
            width: 35px;
        }
    }
}

.main-blog-post{
    background-color: #e8f6fd;
    position: relative;
    margin-bottom: 30px;

    .blog-post{
        padding: 10px;
        max-width: 1200px;
        margin: 0 auto;

        h2{
            margin: 20px 0 10px 0;
            font-size: 1.3rem;
            text-align: center;
        }

        p{
            text-align: justify;
            width: 90%;
            margin: 0 auto;
        }

        a{
            position: absolute;
            width: 110px;
            bottom: 10px;
            left: 50%;
            margin-left: -55px;
            text-align: center;
            @include button;
            background-color: #66adb5 !important;

            &:hover{
                background-color: #45767b !important;
            }
        }
    }

    img{
        width: 70%;
        display: block;
        margin: 20px auto 50px auto;
    }
}

@media only screen and (min-width: 600px) {

    .main-information{
        display: flex;

        .main-text{
            text-align: left !important;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                margin-bottom: 20px;
            }

            a{
                position: initial;
                margin-left: 0;
            }
        }

        img{
            width: 350px !important;
        }
    }
    .benefits{
        display: flex;
        width: auto;
        padding: 0 1rem;
        justify-content: space-around;
        gap: 5%;

        .benefit{
            padding: 20px 0px;
            gap: 5px;

            img{
                width: 30px;
            }

            p{
                font-size: 0.8rem;
            }
        }
    }

    .main-blog-post{
        background-color: #e8f6fd;
        position: inherit;
        margin-bottom: 30px;
        padding: 50px 0;
    
        .blog-post{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            
            .blog{
                flex: 0.7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2{
                    margin: 20px 0 10px 0;
                    font-size: 1.3rem;
                    text-align: center;
                }
        
                p{
                    text-align: justify;
                    width: 90%;
                    margin: 0 auto;
                }
        
                a{
                    position: initial;
                    width: 110px;
                    bottom: 10px;
                    margin: 20px 0 0 0;
                    text-align: center;
                }
            }
    
            
        }
    
        img{
            width: 35%;
            display: block;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 950px){
    .benefits{

        .benefit{

            img{
                width: 35px;
            }

            p{
                font-size: 1rem;
            }
        }
    }
}