@import 'headerMenu';
@import 'content';
@import 'https://fonts.googleapis.com/css?family=Nunito';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito, Arial, sans-serif;
}

.content-background{
    background-color: #fff3e8;
}






