@import 'headerMenu';
@import 'content';
@import 'productSlider';
@import 'footer';
@import 'https://fonts.googleapis.com/css?family=Nunito';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito, Arial, sans-serif;
}

.content-background{
    background-color: #fff3e8;
}

.category{
    display: flex;
    align-items: center;
    padding: 5px 0 5px 1rem;
    border-bottom: 1px solid #fff3e8;
    @include maxWidth;

    img{
        margin-right: 10px;
    }
}

.product-content{
    @include maxWidth;
    padding: 0 1rem;

    .product-main-information{

        .product-title{
            font-size: 2.5rem;
            margin: 10px 0;
            font-weight: bold;
        }
        .image-product{

            img{
                display: block;
                margin: 0 auto;
                width: 90%;
            }
        }

        .product-information{

            .product-title{
                display: none !important;
            }

            .product-rating{
                display: none !important;
            }

            .description{
                margin: 10px 0;
            }

            .availability{
                font-size: 0.9rem;
                color: #398000;
                background-color: #f8f8f8;
                padding: 10px 5px;
            }

            .add-product-to-cart{
                display: flex;
                align-items: center;
                margin: 10px 0;
                flex-wrap: wrap;
                gap: 10px;

                p{
                    font-size: 2.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }

                .number-pieces{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span{
                        border: 1px solid #e1e1e1;
                        width: 40px;
                        height: 35px;
                        text-align: center;
                        line-height: 35px;
                    }

                    button{
                        width: 50px;
                        height: 35px;
                        border: none;
                        font-size: 1.2rem;
                        cursor: pointer;
                        background-color: #e1e1e1;

                        &:hover{
                            background-color: #bebebe;
                        }
                        
                        &:nth-child(1){
                            border-end-end-radius: 0px;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 0px;
                            border-bottom-left-radius: 5px;
                        }

                        &:nth-child(3){
                            border-end-end-radius: 5px;
                            border-top-left-radius: 0px;
                            border-top-right-radius: 5px;
                            border-bottom-left-radius: 0px;
                        }
                    }
                }

                .addToCart{
                    @include button;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    height: 35px;
                    width: 100%;
                    margin-top: 10px;
                }

            }
        }
    }

    .product-data{

        .parametrs{

            .parametr-table{
                margin-bottom: 30px;
                padding: 10px 0;

                .parametr{
                    display: flex;
                    justify-content:flex-start;

                    & > * {
                        width: 50%;
                        padding-left: 10px;
                    }

                    .parametr-value{
                        color: #fe9b01;
                    }

                }
            }
        }
    }
}

.caption{
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

@media only screen and (min-width: 670px){
    .product-content{

        .product-main-information{
            display: flex;

            .product-title{
                display: none !important;
            }

            .product-rating{
                display: none !important;
            }

            .product-information{
                width: 70%;

                .product-title{
                    display: inline !important;
                    font-weight: bold;
                    font-size: 2.5rem;
                }

                .image-product{

                    img{
                        display: block;
                        margin: 0 auto;
                        width: 90%;
                    }
                }

                .product-rating{
                    display: block !important;
                    margin: 10px 0;
                }
            }

        }
    }
}

@media only screen and (min-width: 970px){
    

    .product-information{
        width: 50% !important;
    }
}

@media only screen and (min-width: 1100px){
    .add-product-to-cart{
        flex-wrap: nowrap !important;

        .number-pieces{
            flex: 0.5;
            button{
                width: 35px !important;
            }
        }

        .addToCart{
            flex: 1;
            margin: 0 !important;
        }
    }
}





