@import 'headerMenu';
@import 'content';
@import 'https://fonts.googleapis.com/css?family=Nunito';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito, Arial, sans-serif;
}

.content-background{
    background-color: #fff3e8;
}

.product-slider{
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;

    .title-products{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            font-size: 1.2rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        a{
            color: #fe9b01;
            text-decoration: none;

            &:hover{
                color: #b67001;
            }
        }
    }

    .slider{

        .product-box{
            border: 1px solid rgb(221, 221, 221);
            width: 95% !important;
            margin: 5px;
            padding: 5px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            
            .product-img{
                width: 95%;
                display: block;
            }

            .product-rating{
                height: 15px;
                position: relative;
                
                .rating{
                    height: 15px;
                    background-image: url('../img/web/star.png');
                    background-repeat: space;
                    background-size: 15px auto;
                    position: absolute;
                    z-index: 99;

                    &.rating-1{
                        width: 15px;
                    }

                    &.rating-2{
                        width: 33px;
                    }
    
                    &.rating-3{
                        width: 51px;
                    }
    
                    &.rating-4{
                        width: 69px;
                    }
    
                    &.rating-5{
                        width: 87px;
                    }
                }

                .no-rating{
                    position: absolute;
                    height: 15px;
                    width: 87px;
                    background-image: url('../img/web/star-hover.png');
                    background-repeat: space;
                    background-size: 15px auto;
                    position: absolute;
                    z-index: 1;
                }
            }

            .product-title{
                font-weight: 200;

            }

            .product-price{
                color: gray;
            }
        }
    }
}








